version: 2
jobs:
  android:
    working_directory: ~/repo
    docker:
      - image: circleci/android:api-26-node8-alpha
    steps:
      - checkout
      - run: yarn install
      - run: cd android && chmod +x gradlew && ./gradlew assembleDebug

workflows:
  version: 2
  build_and_test:
    jobs:
      - android
